This is the Simple Snake Game with Some Modified Feature.
The score will increased when the snake eat the food 
The game will be over:
1) When the snake hit the black obstacle.
2) When the snake hit the 4 corner of the screen width.

Last checked on 7 July 2023, the game is working properly.
Please run the snake game on the Pygame venv environment.

Module that is needed for this game to work:
Pygame Module
random Module
